body {
	background-color: #333;
	font-family: Helvetica, Tahoma, sans-serif; 
	font-size: 1em;
	font-weight: lighter;
}
#calculator {
	width: 150px;
	position: absolute;

}
button {
	color: #333;
	background-color: #d0d0d0; 
	border: none;
	height: 30px;
	width: 30px;
	margin: 1px;
	float: left;
}
button#zero {
	width: 62px;
}
#seven,
#four,
#one,
#zero {
	clear: left;
}
button.operators {
	/*background-color: #036597;*/
	background-color: #e27900;
	color: #fff;
}
button.top-row {
	background-color: #a0a0a0;
	color: #333;
}
input {
	text-align: right;
	color: #fff;
	background-color: #444;
	border: solid 1px #333;
}
input#input-1 {
	width: 54px;
}
input#input-2 {
	width: 20px;
}
input#input-3 {
	width: 54px;
}
form {
	margin-bottom: 1px;
}