.box {
	border: 1px solid black;
	width: 50px;
	height: 50px;
	padding: 10px;
	margin-top: 50px;
	margin-right: 50px;
	font-weight: bold;
	color: #ffffff;
	position: relative;
		}
#red {
	background-color: #ff0000;
	float: left;
}
#orange {
	background-color: #ffa500;
	float: left;
}
#yellow {
	background-color: #ffff00;
	text-shadow: 1px 1px black;
	float: left;
}
#green {
	background-color: #00a000;
	clear: left;
	float: left;
}
#blue {
	background-color: #0000ff;
	float: left;
}
#purple {
	background-color: #b000b0;
	float: left;
}
.box>img {
	position: absolute;
	top: -40px;
	right: -40px;
}
#fixed {
	position: fixed;
	top: 0px;
	right: 0px;
}