body {
			font-family: 'Montserrat', sans-serif;
			background-color: #f0f5f0;
			padding-top: 80px;
		}
.navbar-brand {
	padding-top: 5px;
	font-size: 32px;
}
a:hover {
	transform: scale(1.1);
}
.navbar-inverse .navbar-nav>li>a {
}
#resume:hover {
	color: #ff0c0c;
}
#portfolio:hover {
	color: #bc79ff;
}
#contact:hover {
	color: #4d88ff;
}